#main .opmaak img
{
  width: 90%;
  height: 200px;
  border-radius: 10px;
}

#main .vakken h1
 {
   font-family: 'Montserrat', sans-serif;
   color: black;
 }

#main .kernvakken
{
  width: 100%;
  height: 600px;
  
}
#main .kernvakken p
{
  width: 80%;
  height: 105px;
  background-color:rgb(103, 100, 95) ;
  float:left;
  margin-left: 10%;
  font-family: 'Roboto Slab', serif;
}
#main .kernvakken p img
{
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 5%;
}

#main .clear
{
  clear:both;
}


#Talen .Talen
{
  width: 100%;
  height: 600px;

}

#Talen .Talen img
{
  float: right;
  width: 100px;
  height: 100px;
  margin-right: 3%;
}

#Talen .Talen p
{
  width: 80%;
  height: 110px;
  background-color:rgb(54, 52, 52) ;
  float:left;
  margin-left: 10%;
  font-family: 'Roboto Slab', serif;
}

#Talen .clear
{
  clear:both;
}


#overig1 .overig
{
  width: 100%;
  height: 600px;

}
#overig1 .overig p
{
  width: 80%;
  height: 105px;
  background-color:rgb(103, 100, 95) ;
  float:left;
  margin-left: 10%;
  font-family: 'Roboto Slab', serif;
}
#overig1 .overig img
{
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 5%;
}


#overig1 .clear
{
  clear:both;
}

#icon
{
  width: 100%;
  height: 300px;
  background-color:rgb(180, 173, 179) ;
}

#icon img
{
  width: 50px;
  height: 50px;
}

#icon img
{
  margin-left: 5%;
  margin-top: 5%;
  float: left;
}

#icon img:hover
{
  background-color: white;
}

#icon iframe
{
  float: right;
  width: 450px;
  height: 200px;
  margin-right: 10%;
  margin-top: 2%;
  border-radius: 25px;
  border-color: black;
}

#icon .copyright P
{
  margin-top: 2%;
  float: left;
  font-size: 10px;
}

#icon .clear
{
  clear: both;
}
